<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Contents/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Contents/css/animate.css">
    <link rel="stylesheet" href="~/Contents/css/style.css">
    <link rel="stylesheet" href="~/Contents/css/blog-css.css">

    <script type="text/javascript" src="~/Contents/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
